@use 'sass:map';
@use '@angular/material' as mat;
@use './theming';

$colors-light: (
  primary: #326de6,
  primary-hover: #0048ff,
  accent: #fff,
  indicator-success: #008000,
  indicator-warning: #ffad20,
  indicator-error: #ff481b,
  chart-blue: #326de6,
  chart-green: #00c752,
  toolbar-button: #000,
  log-viewer-bg: #000,
  log-viewer-text: #fff,
  log-viewer-scrollbar: rgb(200 200 200 / 0.66),
  scrollbar: rgb(100 100 100 / 0.33),
);

$theme-light: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
  ),
  density: (scale: 0),
));

.kd-light-theme {
  @include mat.all-component-colors($theme-light);
  @include theming.kd-theme($colors-light, $is-dark: false);

  .kd-toolbar-logo-text,
  .kd-primary-toolbar-icon {
    color: #326de6;
  }

  .kd-actionbar .mat-icon {
    color: #fff;
  }

  .kd-primary-toolbar {
    background-color: #fafafa;
  }
}
