@use '../../../variables' as *;

.kd-graph-container {
  flex: auto;
  text-align: center;
  min-width: 350px;
  width: 350px;
}

.kd-graph-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
}

.kd-graph-title {
  font-size: $subhead-font-size-base;
  padding: 0 0 16px; margin-top: -8px;
}

.kd-workload-status-grid {
  display: flex;
  flex-wrap: wrap;
}
